/*
    top
 */
#top .top {
  margin: 0 auto;
  width: 952px;
  height: 109px;
}
#top .top a {
  float: left;
  margin-top: 29px;
  margin-right: 20px;
}

/*
    main
 */
#main {
  height: 483px;
  padding: 30px 0 25px 0;
  background: url(../css/img/login-body.jpg) no-repeat center bottom;
}
#main .main {
  width: 488px;
  margin: 0px auto;
  border: 6px solid #e2e2e2;
  background-color: #fff;
}
#main .main .main_connect {
  height: 381px;
  width: 300px;
  margin: 0px auto;
  margin-top: 45px;
  padding-bottom: 45px;
}
#main .main .main_connect .title {
  height: 50px;
  line-height: 50px;
}
#main .main .main_connect .title h3 {
  font-size: 18px;
  float: left;
}
#main .main .main_connect .title span {
  display: inline-block;
  float: right;
}
#main .main .main_connect .title span a {
  font-size: 12px;
  color: #0088cc;
}
#main .main .main_connect .title span a:hover {
  text-decoration: underline;
}
#main .main .main_connect .login_user, #main .main .main_connect .login_password {
  margin-top: 10px;
  padding-bottom: 10px;
}
#main .main .main_connect .login_user input, #main .main .main_connect .login_password input {
  height: 34px;
  width: 298px;
  font-size: 12px;
  border: 1px solid #ccc;
  text-indent: 2.4em;
}
#main .main .main_connect .login_user input:hover, #main .main .main_connect .login_password input:hover {
  border-color: #aaa;
}
#main .main .main_connect .login_user input {
  background: url(img/register.png) no-repeat 10px 9px;
}
#main .main .main_connect .login_password input {
  background: url(img/register.png) no-repeat 10px -52px;
}
#main .main .main_connect .forget {
  height: 30px;
  line-height: 30px;
  padding-bottom: 10px;
}
#main .main .main_connect .forget a {
  font-size: 12px;
  display: inline-block;
  float: right;
  color: #666;
}
#main .main .main_connect .forget a:hover {
  text-decoration: underline;
  color: #0088cc;
}
#main .main .main_connect button {
  color: #ffffff;
  background: #e6133c;
  width: 300px;
  height: 36px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 10px;
}
#main .main .main_connect > a {
  display: inline-block;
  background: url(../css/img/right-icon.png) no-repeat left;
  padding-left: 23px;
  color: #666666;
  margin-left: 140px;
  font-size: 12px;
}
#main .main .main_connect .bottom_border {
  height: 24px;
  text-align: center;
  line-height: 49px;
  padding-bottom: 40px;
}
#main .main .main_connect .bottom_border div {
  height: 24px;
  border-bottom: 1px solid #dddddd;
}
#main .main .main_connect .bottom_border span {
  background: #fff;
  padding: 0px 15px;
  color: #999;
  line-height: 49px;
}
#main .main .main_connect .bottom_img a {
  width: 66px;
  height: 22px;
  text-align: center;
  float: left;
  margin: 0 0 10px 30px;
  display: inline-block;
}
#main .main .main_connect .bottom_img .img1 {
  background: url(../css/img/login-cion-1.png) center bottom;
}
#main .main .main_connect .bottom_img .img1:hover {
  background: url(../css/img/login-cion-1.png) center top;
}
#main .main .main_connect .bottom_img .img2 {
  background: url(../css/img/login-cion-2.png) center bottom;
}
#main .main .main_connect .bottom_img .img2:hover {
  background: url(../css/img/login-cion-2.png) center top;
}
#main .main .main_connect .bottom_img .img3 {
  background: url(../css/img/login-cion-3.png) center bottom;
}
#main .main .main_connect .bottom_img .img3:hover {
  background: url(../css/img/login-cion-3.png) center top;
}
#main .main .main_connect .bottom_img .img4 {
  background: url(../css/img/login-cion-4.png) center bottom;
}
#main .main .main_connect .bottom_img .img4:hover {
  background: url(../css/img/login-cion-4.png) center top;
}
#main .main .main_connect .bottom_img .img5 {
  background: url(../css/img/login-cion-4.png) center bottom;
}
#main .main .main_connect .bottom_img .img5:hover {
  background: url(../css/img/login-cion-4.png) center top;
}

/*
    footer
 */
#footer .bottom-nav {
  line-height: 24px;
  text-align: center;
  padding: 30px 0 0;
  color: #999;
}
#footer .bottom-nav .copyright:first-child {
  margin: 0 105px;
}
#footer .bottom-nav a {
  color: #003333;
  font-size: 14px;
}
#footer .bottom-nav .police a span {
  color: #999;
}

/*# sourceMappingURL=login.css.map */
